# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# environment variables (VERY IMPORTANT)
.env
.env.local
.env.*.local

# build output
ios/
android/

# TypeScript
*.tsbuildinfo